@import url('https://fonts.googleapis.com/css?family=Proza+Libre&display=swap');



body{
  font-family: 'Proza Libre', sans-serif;
}

header{
  top: 0;
  background: black;
/* text-align: center; */
display: flex;
justify-content: space-between;
height: 90px;
font-family: 'Proza Libre', sans-serif;

}

header p{
  color: white;
  margin: 0;
margin-top: 30px;  
}

header h2{
  margin: 0;
  line-height: 90px;
  color: white;
  text-decoration: underline;
  text-decoration-color: red;
}
header h2:active{
  color: white;
}


header hr{
  display: none;
}
.item{
  border: 1px solid black;
  text-align: center;
  width: 500px;
  margin: 10px;
  background: gray;
}

.item img{
  height: 200px;
  width: auto;
}



/* ///Register/// */

.register-div {
  background-color: gray;
  height: 100%;
  width:100%;
  padding:10px;
  text-align: center;
}


.register-div-form {
  background-color: white;
  height: 500px;
  width:50%;
  position: relative;
  left:355px;
  border:3px solid black

 
}

#register-username {
  height: 20px;
  padding:10px;
  border:1px solid purple;
  border-radius: 5px;
  color:black;
  width:500px;
  height: 20px;
  position: relative;
  top:-30px;
  left:0px
  

}

#username:focus {
}


#register-password {
  display: block;
  padding:10px;
  border:1px solid purple;
  border-radius: 5px;
  color:black;
  width:500px;
  height: 20px;
  position: relative;
  top:-60px;
  left:0px
  
}

#password:focus {
 
}

#register {
  color:blue;
  padding: 10px;
  text-decoration: underline;
}

#register-submit-button {
  color:black;
  background-color: rgb(3, 172, 73);
  padding:10px;
  margin:10px;
  width:370px;
  height: 50px;
  display:block;
  position: relative;
  left:0px;
  top:-100px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 20px;
  border: 2px solid black;
  
}

#submit-button:hover {
  
}

/* Register End */

/* Login */
.login-div {
  background-color: gray;
  height: 100%;
  width:100%;
  padding:10px;
  text-align: center;
}


.login-div-form {
  background-color: white;
  height: 500px;
  width:50%;
  position: relative;
  left:350px;
  border:3px solid black
}

#login {
  color:blue;
  text-decoration: underline;
  position: relative;
  left:250px
}

#login-username {
  height: 20px;
  padding:10px;
  border:1px solid purple;
  border-radius: 5px;
  color:black;
  width:500px;
  height: 20px;
  position: relative;
  top:100px;
  left:-10px
  

}

#login-password {
  display: block;
  padding:10px;
  border:1px solid purple;
  border-radius: 5px;
  color:black;
  width:500px;
  height: 20px;
  position: relative;
  top:0px;
  left:22px
  
}

#register-link {
  text-decoration: underline;
  color:black;
  position: relative;
  top:-90px;
  left:-180px;
  width:200px;
  height:50px
}

#register-link:hover {
  color:green
}

#login-submit-button {
  color:black;
  background-color: rgb(3, 172, 73);
  padding:10px;
  margin:10px;
  width:370px;
  height: 50px;
  display:block;
  position: relative;
  left:110px;
  top:-50px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 20px;
  border: 2px solid black;
  
}


#login-submit-button:hover {
  color:red
}
/* Login End */



#wishlist-list{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.wishlist{
  border: 1px dashed black;
  height: 200px;
  width: 200px;
  margin: 10px auto;
 
}

#wishlist-list button{
  margin-top: 20px;
  width: 100px;
  height: 30px;
  background: black;
  color: white;
}

h3, h3:active{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}


footer{
  background: black;
  color: white;
  text-align: center;
  
}

footer small{
  font-size: 1em;
  margin: 10px;
}

#single-wishlist{
text-align: center;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

/* input{

} */

